.card{
    text-align: center;
    background-color: aquamarine;
    background-image: url("https://w0.https://e0.https://wallpapers.com/images/hd/bright-full-moon-illuminates-akatsuki-9096dczdkuabup0b.webp.com/wallpapers/819/24/desktop-wallpaper-akatsuki-villains-akatsuki-members.jpg.com/wallpaper/602/448/HD-wallpaper-akatsuki-organization-anime.jpg");
    background-size: cover;
    height: 100vh;
}