.card{
    text-align: center;
    background-color: aquamarine;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/322/317/102/naruto-shippuuden-manga-anime-akatsuki-wallpaper-preview.jpg");
    background-size: cover;
    height: 100vh;
    padding: 5px;
    font-family:'Trebuchet MS';
}

.button{
    background-color: coral;
    color: white;
    font-family: 'Trebuchet MS';
}

.text{
    color:gold;
}
.paragraph{
    color:aliceblue;
}